.App {
  text-align: center;
}

.app-grid{
  background-color: cornflowerblue;
  display: grid;
  
  width: 99vw;
  gap: 10px;
  grid-template-rows: 1fr 550px 4fr 1fr;
  grid-template-columns: 4fr 2fr;
  padding: 10px;
}

.navpane{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.statuspane{
  background-color: white;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.tablepane{
  background-color:  white;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  
}

.infopane{
  background-color: white;
  grid-row-start: 2;
  grid-column-start: 2;
  
}

.footerpane{
  background-color: white;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.plotpane{
  background-color: white;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  
}

.plot-container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.plot-item{
  background-color: white;

  margin-left: 15px;
  margin-right: 15px;
}

.plot-ctrl{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wplot-ctrl{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

.plot-label{
  font-size: large;
  padding-right: 20px;
}

.wplot-label{
  font-size: large;
  padding-right: 20px;
  padding-top: 10px;
}

.plot-ctrl-item{
  padding-left: 10px;
  padding-bottom: 10px;
}

.wplot-ctrl-item{
  padding-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.timeupdtext{
  color: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
